/* div {
  position: relative;
  align-content: flex-start;
} */
.bio {
  text-align: center;
  margin: auto;
}

.bio-container {
  position:relative;
  margin-bottom: 3rem;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}




