.footer{
  font-size: large;
  font-weight: 700;
  margin-top: 1rem;
  padding: 5px;
  background-color: rgb(256, 256, 256);
  border: yellow solid 2px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
}

.githubIcon{
  max-width: 2em;
  height: auto;
  margin-right: 1rem;
}

.linkedinIcon{
  max-width: 2em;
  height: auto;
  margin-right: 0.5rem;
}

.phone, .email {
  text-align: right;
  margin:0.5em;
}

.phone {
  width: 20em;
  margin-right: 0px;
}

.email {
  width: 15rem;
  margin-right: 1em;
}
